#not ignore
!data/*.json

# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyz/
*.dist-info/
*.egg-info/
*.egg
*.exe
*.dll
*.so
*.out
*.pydevproject
*.pydevworkspace
.vscode/

# LocalStack specific
.localstack/

# Docker volume
volume/
.volume/

# Virtual environment
venv/
env/
env.bak/
ENV/
venv.bak/
.venv/
.ENV/
.venv.bak/
pip-selfcheck.json

# Editor specific
.idea/
.vs/

# Others
*.log
*.json
*.ini
*.cfg
*.csv
*.db
*.sqlite
*.db-journal
*.swp
.DS_Store
Thumbs.db
